@import '../../app.scss';

.container{
    background-color: $black-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img{
    background-color: $grey-color;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.sayMyName{
    font-family: PermanentMarker;
    color: $gold-color;
    font-size: 34px;
}

.info{
    font-family: Poppins-R;
    color: white;
    font-size: 18px;
}