@import '../../app.scss';

.container{
    background-color: $black-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img{
    background-color: $grey-color;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid white;
}

.sayMyName{
    font-family: PermanentMarker;
    color: $gold-color;
    font-size: 34px;
}

.info{
    font-family: Poppins-R;
    color: white;
    font-size: 18px;
}

.downloadBtn{
    background-color: $grey-color;
    margin: 0;
    padding: 6px 10px 6px 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid $gold-color;
    color: $gold-color;
    position: absolute;
    bottom: 50px;
    text-decoration: none;
    color: white;
    font-family: Poppins-R;
}
.downloadBtn:hover{
    border: 2px solid white;
    color: $black-color;
    background-color: $gold-color;    
}

.contacts{
    margin-top: 40px;
    display: flex;
    width: 170px;
    justify-content: space-around;
    align-items: center;
}

.gitImg{
    width: 24px;
}
.telegramImg{
    width: 24px;
}