@import './../../app.scss';

.container{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

.container a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-family: Poppins-R;
    font-size: 22px;
}

a:hover{
    color: $gold-color;
}

.container .active{
    color: $gold-color;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

@media (max-width: 500px) {
    .container{
        top: 30px;
        right: auto;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .container a{
        margin-right: 12px;
        font-size: 18px;
    }
}
