@import '../../app.scss';

.container{
    height: 100vh;
    background-color: $grey-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins-R';
}

.container a{
    
    color: white;
    opacity: 0.8;
    text-decoration: none;
    &:hover{
        color: $gold-color;
        opacity: 1;
    }
}

.contactBox{
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.copyImg{
    width: 18px;
    height: 18px;
    margin-left: 6px;
    opacity: 0.8;
    &:hover{
        opacity: 1;
        cursor: pointer;
    }
}

.copiedBox{
    display: flex;
    font-size: 12px;
    align-items: center;
}

.copyBox{
    display: flex;
    font-size: 12px;
    align-items: center;
    opacity: 0.8;
    &:hover{
        opacity: 1;
        cursor: pointer;
    }
}